body {
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    background: url('https://i.pinimg.com/originals/08/e1/e4/08e1e4c1e56d8025b4872ec8f1383476.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1, h2, h3 {
    color: #37dca0;
}

textarea {
    width: 95%;
    height: 200px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    border: 1px solid #444;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #444;
    color: #37dca0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Cinzel', serif !important;
}

button:hover {
    background: #333;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    background: #333;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    transition: background 0.3s;
}

.tab:not(:last-child) {
    margin-right: 5px;
    margin-bottom: 5px;
}

.tab.active {
    background: #358f65;
    color: #fff;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.character-container, .enemy-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.character, .enemy {
    border: 1px solid #358f65;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.character h2, .enemy h2 {
    margin-top: 0;
}

.stats, .inventory {
    list-style: none;
    padding: 0;
}

.character img, .enemy img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid #aca996;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(217, 207, 150, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.character img:hover, .enemy img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(225, 219, 186);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #3e3e3e;
}

table th {
    background-color: #276c54;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #3e3e3e;
}

table tr:hover {
    background-color: #2b5237;
}

/* Responsive table */
@media (max-width: 600px) {
    table,
    table thead,
    table tbody,
    table th,
    table td,
    table tr {
        display: block;
    }

    table thead tr {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
    }

    table td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        text-align: left;
    }

    table td:before {
        content: attr(data-label);
        flex-basis: 50%;
        text-align: left;
        font-weight: bold;
    }
}

/* Filter styles */
.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filters select,
.filters .reset-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.reset-button {
    width: fit-content;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #dbdbdb;
    color: #000000;
    border: none;
    border-radius: 3px;
}

.reset-button:hover {
    background-color: #215a4d;
    color: #FFF;
}

/* Map styles */
.map-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

#mapImage {
    width: 100%;
    height: auto;
}

.marker {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.clear-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #444;
    color: #FFD700;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
}

.clear-button:hover {
    background-color: #333;
}

.combat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.combat-select {
    flex-basis: 45%;
    margin-bottom: 20px;
}

.combat-select label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.combat-select select {
    width: 350px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: 1px solid #2f8873;
    font-family: 'Cinzel', serif;
}

@media (max-width: 400px) {
    .combat-container {
        flex-direction: column;
    }
    .combat-select select {
        width: 100% !important;
    }
}

.combat-stats {
    flex-basis: 45%;
    padding: 10px;
    border: 1px solid #358f65;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre cada línea de estadísticas */
}

.combat-stats h3 {
    margin-top: 0;
    font-family: 'Cinzel', serif;
    color: #2f8873;
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea el número y el textbox */
    margin-bottom: 5px;
}

.stat-item label {
    font-weight: bold;
    font-size: 16px;
    flex-basis: 70%; /* Ajusta el ancho del texto */
}

.stat-input {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    font-family: 'Cinzel', serif;
    text-align: right; /* Alinea el texto dentro del textbox a la derecha */
    flex-basis: 30%; /* Ajusta el ancho del textbox */
}

.update-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #215a4d;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    transition: background 0.3s;
}

.update-button:hover {
    background-color: #2f8873;
}

/* Estilo para la ventana emergente de recompensas */
.reward-popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Más oscuro para mayor contraste */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reward-popup-content {
    background-color: #474747; /* Un tono más suave */
    padding: 30px;
    border: 1px solid #215a4d;
    width: 90%;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

.close {
    color: #555;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"],
input[type="checkbox"] {
    width: calc(100% - 20px);
    padding: 10px;
    text-align: left;
    border: 1px solid #215a4d;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

input[type="checkbox"] {
    width: auto; /* Ajuste especial para el checkbox */
    margin-left: 10px;
}

.generate-button {
    background-color: #215a4d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.generate-button:hover {
    background-color: #2f8873;
}

.reward-results {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.reward-results h3 {
    margin-top: 0;
    color: #fff;
}

.reward-results p {
    margin-top: 0;
    color: yellow;
    font-weight: bold;
}

.reward-results ul {
    padding: 0;
    list-style: none;
}

.reward-results li {
    background-color: #353535;
    color: yellow;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .reward-popup-content {
        width: auto;
        padding: 20px;
    }

    label {
        font-size: 14px;
    }

    input[type="number"],
    .generate-button {
        font-size: 16px;
    }
}
li{
    background-color: none;
}
.buttonUpdateChar{
    width: 350px;
}

/*-----CSS EDITAR PERSONAJES*/

.edit-container {
    background-color: #333; /* Fondo del formulario */
    color: #fff; /* Color de la fuente */
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto; /* Centra el formulario en la página */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

.edit-container label {
    display: block;
    margin-bottom: 5px;
    color: #358f65; /* Color de los detalles */
    font-weight: bold; /* Negrita para las etiquetas */
    font-size: 14px; /* Tamaño de fuente */
}

.edit-container input[type="text"],
.edit-container input[type="number"],
.edit-container select,
.edit-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #358f65; /* Color del borde */
    border-radius: 4px;
    background-color: #444; /* Fondo de los campos de entrada */
    color: #fff; /* Color del texto */
    font-size: 14px; /* Tamaño de fuente */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

.edit-container textarea {
    height: 80px;
    resize: vertical; /* Permitir cambiar el tamaño vertical */
}

.edit-container h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #358f65; /* Color de los subtítulos */
    font-size: 18px; /* Tamaño de fuente */
    border-bottom: 1px solid #358f65; /* Línea debajo del subtítulo */
    padding-bottom: 5px; /* Espacio debajo del texto del subtítulo */
}

.edit-container .save-button {
    background-color: #358f65; /* Color del botón */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.edit-container .save-button:hover {
    background-color: #2b714f; /* Color del botón al pasar el cursor */
}

.edit-container input:focus,
.edit-container select:focus,
.edit-container textarea:focus {
    border-color: #4ca576; /* Color del borde al enfocar */
    outline: none; /* Elimina el contorno predeterminado del navegador */
}

.edit-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Espacio entre cada grupo de entrada */
}

.edit-container .form-group label {
    margin-bottom: 5px; /* Espacio entre etiqueta e input */
}

ul.inventory ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: disc;
}

ul.inventory ul li {
    color: #f5f5f5;
    margin-bottom: 5px;
}
.delete-button {
    background-color: #ff4c4c; /* Color de fondo para el botón de borrar */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #ff6464; /* Color del botón al pasar el cursor */
}

/* Estilos para la ventana emergente */
.popup {
    position: fixed;
    z-index: 1000; /* Asegúrate de que la ventana esté siempre encima del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad para el overlay */
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #333; /* Fondo de la ventana emergente */
    color: #fff; /* Color del texto */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px; /* Ancho máximo de la ventana */
    max-height: 90vh; /* Altura máxima de la ventana: 100% de la altura de la ventana de visualización */
    overflow-y: auto; /* Permitir desplazamiento vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    position: relative;
    animation: fadeIn 0.3s ease-in-out; /* Animación de aparición */
}
@media (max-width: 600px) {
    .popup-content {
        margin-top: 20px; /* Ajuste más pequeño en móviles */
        /* Puedes ajustar más propiedades aquí si es necesario */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff; /* Color del botón de cerrar */
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: #ff4c4c; /* Color al pasar el mouse sobre el botón de cerrar */
}

.create-button {
    background-color: #358f65; /* Color del botón de crear */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0; /* Centrando el botón dentro del contenedor */
}

.create-button:hover {
    background-color: #2b714f; /* Color del botón al pasar el mouse */
}

/*SCROLLBAR CSS*/
/* Scrollbar para navegadores Webkit (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
    background-color: #333; /* Fondo del scrollbar */
    border-radius: 5px; /* Redondear scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #358f65; /* Color del thumb (la parte móvil del scrollbar) */
    border-radius: 5px; /* Redondear el thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4ca576; /* Color del thumb al pasar el ratón */
}

/* Scrollbar para navegadores Firefox */
body {
    scrollbar-width: thin; /* Scrollbar fino */
    scrollbar-color: #358f65 #333; /* Color del thumb y del fondo */
}

body::-moz-scrollbar {
    width: 8px; /* Ancho del scrollbar en Firefox */
    background-color: #333; /* Fondo del scrollbar en Firefox */
    border-radius: 5px; /* Redondear scrollbar en Firefox */
}

body::-moz-scrollbar-thumb {
    background-color: #358f65; /* Color del thumb en Firefox */
    border-radius: 5px; /* Redondear el thumb en Firefox */
}

body::-moz-scrollbar-thumb:hover {
    background-color: #4ca576; /* Color del thumb al pasar el ratón en Firefox */
}

/* Scrollbar para navegadores IE y Edge */
body {
    -ms-overflow-style: scrollbar; /* Mostrar scrollbar en IE y Edge */
}

body::-ms-scrollbar {
    width: 8px; /* Ancho del scrollbar en IE y Edge */
    background-color: #333; /* Fondo del scrollbar en IE y Edge */
    border-radius: 5px; /* Redondear scrollbar en IE y Edge */
}

body::-ms-scrollbar-thumb {
    background-color: #358f65; /* Color del thumb en IE y Edge */
    border-radius: 5px; /* Redondear el thumb en IE y Edge */
}

body::-ms-scrollbar-thumb:hover {
    background-color: #4ca576; /* Color del thumb al pasar el ratón en IE y Edge */
}
